<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<h1>{{ resource.name }}</h1>
	<a href="/rss?name={{ resource.name }}">RSS</a>
	<p>
		start: {{ resource.start }}<br>
		end: {{ resource.end }}<br>
		duration: {{ resource.duration }}<br>
		reservsed time: {{ resource.num }}<br>
	</p>
</div>
<hr>
<div class="container">
	<h3>Current and Upcoming Reservation:</h3>
	{% for reservation in reservation_list %}
		<p>
		user email: {{user_info[reservation.userId]}}<br>
		start: {{ reservation.start }}<br>
		end: {{ reservation.end }}<br>
		duration: {{ reservation.duration }}<br>
		</p>
	{% endfor %}
</div>
<hr>
<div class="container">
	<h3>Make your Reservation:</h3>
        <form method="post" action="/create_reservation?name={{resource.name}}">
          <label for="start">Choose Start Time:</label>
          <input type="datetime-local" name="start_time"><br />
          <label for="end">Choose End Time:</label>
          <input type="datetime-local" name="end_time"><br />
		  
          <input type="submit">
        </form>
</div>
<hr>
<div class="container">
{% if own %}
	<h3>Edit:</h3>
	<form method="post" action="/update_resource?resource_name={{resource.name}}">
          <label for="name">Name:</label>
          <input type="text" name="name" value= {{resource.name}} ><br />
          <label for="start">Available Start Time:</label>
          <input type="datetime-local" name="start_time" value={{start}}><br />
          <label for="end">Available End Time:</label>
          <input type="datetime-local" name="end_time" value={{end}}><br />
          <label for="tags">Tags(Please use ";" to separate):</label>
          <input type="text" name="tags" value= {{tag}}><br />
          <input type="submit">
        </form>
        <hr>
{% endif %}
</div>
<div class="container">
	<a href="#" onclick="history.back();">Back</a>
</div>
</body>
</html>